@import url('https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}
:root {
	font-family: 'General Sans', sans-serif;
	color-scheme: dark light;
	scroll-behavior: smooth;
}

html {
	scrollbar-width: none;
}

body {
	margin: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}
